# IntelliJ IDEA
/.idea/
/*/*.iml

# Build system
/*/target/
/customer-loyalty-jobs/dependency-reduced-pom.xml

# Python & Airflow
/venv/
airflow.db
unittests.cfg
*.pid
airflow/logs/*

# Test files
/customer-loyalty-jobs/derby.log
/customer-loyalty-jobs/src/test/data/tmp/*

/creds
